1. write a python program to find the maximum and minimum values in a tuple of integers.

In [1]:
my_tuple = (15,54,84,61,14)
print(max(my_tuple))
print(min(my_tuple))

84
14

2.write a python program to concatinate two tuples element-wise

In [2]:
tuple1 = (12,24,35)
tuple2 = (45,31,62)
print(tuple1+tuple2)

(12, 24, 35, 45, 31, 62)

3.write a python program to count the number of occurences of an element in a tuple

In [3]:
mytuple = (12,45,73,23,12,84,12,49)
tuplecount = mytuple.count(12)
print(tuplecount)

3

4.write a python program to convert a list of tuples into a dictionary

In [2]:
tuples = (("naima",10),("duaa",20))
dictionary = dict(tuples)
print(dictionary)

{'naima': 10, 'duaa': 20}

5.write a python program to slice a tuple into multiple sub-tuples based on a given size

In [ ]:
tuple_size = input("enter the tuple size:")
mytuple = tuple("enter a tuple:")
subtuples = mytuple.slice(tuple_size)
print(subtuples)

6. write a python program to create a nested tuple and access an element from it.

In [4]:
nested_tuple = input()
nth = input("n =")
element = nested_tuple[2]
print(element)

[(1,2,3),(23,45,56),(145,258,357)]
n =2
1

7. write a python program to remove an element from a tuple.

In [12]:
mytuple = (12,45,73,23,12,84,12,49)
x,*y=mytuple
print(x)
print(y)

12
[45, 73, 23, 12, 84, 12, 49]

8.write a python program to merge two tuples and remove the dublicate elements.

In [18]:
mytuple1= (12,45,73,56,90,34,49)
mytuple2= (73,23,12,84,12,49,23,97)
mytuple1+=mytuple2
print(mytuple1)
print(set(mytuple1))

(12, 45, 73, 56, 90, 34, 49, 73, 23, 12, 84, 12, 49, 23, 97)
{97, 34, 73, 12, 45, 49, 84, 23, 56, 90}

9.write a python program to create a tuple with a variable length and unpack it into multiple variables.

In [2]:
n = int(input("n="))
x=list()
i = 0
while i<=n:
    i+=1
    number = int(input())
    x.append(number)
x=tuple(x)
print(x)

a,*b,c = x
print(a," ",b," ",c)

n=4
45
47
85
14
25
(45, 47, 85, 14, 25)
45   [47, 85, 14]   25

10.write a python program to find the index of the first occurrence of an elelment in a tuple

In [1]:
mytuple = (45,12,45,73,23,12,84,12,49)
index = mytuple.index(12)
print(index)

1