1. What is the mean of the following numbers?

12,37, 72, 38, 76, 35, 28

a. 42

b. 39

c. 42.5

d. 35.5

In [1]:
import statistics as sts

data = [12,37, 72, 38, 76, 35, 28]

data_mean = sts.mean(data)

print("the mean of the data is :",data_mean)

the mean of the data is : 42.57142857142857

c. 42.5

2. What number would you divide by to calculate the mean of 3, 4, 2, 7, and 6?

a. 6

b. 3

c. 5

d. 4

In [2]:
data =[3,4,2,7,6]
n = len(data)
print("number divide by to calculate the given data:",n)

number divide by to calculate the given data: 5

c. 5

3. What measure of central tendency is calculated by adding all the values and dividing the sum by the number of values?

a. Median

b. Mean

c. Mode

d. Typical value

b.Mean

4. The mean of four numbers is 71.5. If three of the numbers are 58, 76, and 88, what is the value of the fourth number?

a. 64

b. 60

c. 76

d. 82

In [3]:
data = [58,76,88]
mean = 71.5
sum_given_data= sum(data)

total_sum = mean*4

fourth_number = total_sum - sum_given_data
 
print("the value of fourth number:",fourth_number)

the value of fourth number: 64.0

a. 64

5. Determine the mean of the following set of numbers: 40, 61, 55, 79, 9, 55, 81, 65, 109

In [5]:
import statistics as sts

data = [40, 61, 55, 79, 9, 55, 81, 65, 10]

data_mean = sts.mean(data)

print("the mean of the data is :",data_mean)

the mean of the data is : 50.55555555555556

6. The mean weight of five complete computer stations is 173.2 pounds. The weights of four
of the computer stations are 164.4 pounds, 142.8 pounds, 195 pounds, and 188.2 pounds
respectively. What is the weight of the fifth computer station?

In [6]:
data = [164.4,142.8,195,188.2]
mean = 173.2
sum_given_data= sum(data)

total_sum = mean*5

fifth_computer_station = total_sum - sum_given_data
 
print("the weight of fifth computer station:",fifth_computer_station)

the weight of fifth computer station: 175.5999999999999

7. The mean width of 10 Ipads is 5.1 inches. The mean width of 6 Fire tablet is 4.8 inches.

a. What is the total width of the iPads?

b. What is the total width of the Fire tablet?

c. What is the mean width of the 10 iPads and 6 Fire tablet?

In [14]:
import statistics as sts

mean_width_10_Ipads = 5.1
total_width_iPads = mean_width_10_Ipads *10
print("a.",total_width_iPads)

mean_width_6_Fire_tablet = 4.8
total_width_Fire_tablet =mean_width_6_Fire_tablet*6
print("b.",total_width_Fire_tablet)

means_ipads_firetablet =[5.1,4.8] 
mean_width_10_iPads_6_Fire_tablet = sts.mean(means_ipads_firetablet)
print("c.",mean_width_10_iPads_6_Fire_tablet)

a. 51.0
b. 28.799999999999997
c. 4.949999999999999

8. A group NPS surveys were sent out at random.

The scores were 90, 50, 60, 80, 70, 80, 20, 90, 80, 10, and 20. Find the
mean score.

In [15]:
import statistics as sts
scores =[90, 50, 60, 80, 70, 80, 20, 90, 80, 10, 20]
mean_score = sts.mean(scores)
print("the mean score is :",mean_score)

the mean score is : 59.09090909090909

9. What is the median of the following numbers?

11, 39, 74, 42, 39, 78, 38, 25

a. 42.5

b. 39

c. 42

d. 35.5

In [16]:
import statistics as sts

data = [11, 39, 74, 42, 39, 78, 38, 25]

data_median = sts.median(data)

print("the median of the data is :",data_median)

the median of the data is : 39.0

10. The front row in a movie theatre has 23 seats. If you were asked to sit in the seat that
occupied the median position, in which seat would you have to sit?

a. 2

b. 11

c. 22

d. 12

In [23]:
import statistics as sts

n=23
seats_numbers =range(1,n+1) 

seat_median = sts.median(seats_numbers)

print("the median position of seats is :",seat_median)

the median position of seats is : 12

11. What is the median score achieved by a student who recorded the following scores on 10
math quizzes?

68, 55, 70, 62, 71, 58, 81, 82, 63, 79

a. 68

b. 71

c. 69

d. 79

In [24]:
import statistics as sts

scores = [68, 55, 70, 62, 71, 58, 81, 82, 63, 79]

score_median = sts.median(scores)

print("the median score of students is :",score_median)

the median score of students is : 69.0

12. The number of cola sold by each of 30 salesperson is as follows:

42, 6, 21, 10, 8, 11, 12, 36, 17, 16, 15, 18, 40, 24, 21, 23, 24, 24, 29, 16, 32, 31, 10, 30,
45, 32, 18, 40, 12, 20

What is the median number of colas sold by the 30 salesperson?

a. 18

b. 21

c. 24

d. 32

In [25]:
import statistics as sts

cola_sold= [42, 6, 21, 10, 8, 11, 12, 36, 17, 16, 15, 18, 40, 24, 21, 23, 24, 24, 29, 16, 32, 31, 10, 30, 45, 32, 18, 40, 12, 20]

median_cola_sold = sts.median(cola_sold)

print("the median number of colas sold by the 30 salesperson :",median_cola_sold)

the median number of colas sold by the 30 salesperson : 21.0

13. Which of the following measures can be determined for quantitative data?

a. Mean

b. Median

c. Mode

d. All of these

d.All of these

14. Which of the following measures can be calculated for qualitative data?

a. Mean

b. Median

c. Mode

d. All of these

c.Mode

15. What is the mode of the following numbers?

12, 11, 14, 10, 8, 13, 11, 9

a. 11

b. 10

c. 14

d. 8

In [26]:
import statistics as sts

numbers = [12, 11, 14, 10, 8, 13, 11, 9]

numbers_mode = sts.mode(numbers)

print("the mode of numbers is :",numbers_mode)

the mode of numbers is : 11

16. What are the modes of the following sets of numbers? 

a. 4, 13, 6, 9, 10, 5, 6

b. 17, 10, 15, 15, 13, 19, 16, 13, 16, 16

In [30]:
import statistics as sts

numbers01 = [4, 13, 6, 9, 10, 5, 6]

numbers01_mode = sts.mode(numbers01)

print("a.the mode of numbers is :",numbers01_mode)

numbers02 = [17, 10, 15, 15, 13, 19, 16, 13, 16, 16]

numbers02_mode = sts.mode(numbers02)

print("b.the mode of numbers is :",numbers02_mode)

a.the mode of numbers is : 6
b.the mode of numbers is : 16