# python set

1. write a python program to check if two sets have any common elements.

In [1]:
set1 = {1,2,3}
set2 = {3,4,5}
if set1.intersection(set2):
    print("there is a common elements in these two sets")
else:
    print("there is no common elements in these two sets")

there is a common elements in these two sets

2. write a python program to find the difference between two sets.

In [8]:
set1 = {1,2,3,6}
set2 = {3,4,5,2}
difference = set1.difference(set2)
print(difference)

{1, 6}

3. write a python program to find the symmetric difference between two sets.

In [7]:
set1 = {1,2,3,6}
set2 = {3,4,5,2}
symmetric_difference = set1.symmetric_difference(set2)
print(symmetric_difference)

{1, 4, 5, 6}

4.write a python program to create a set from a given list and remove the duplicates.

In [14]:
n = int(input())
myset =list()
i =0
while i<=n:
    i+=1
    elements = int(input())
    myset.append(elements)
myset = set(myset)
print(myset)

8
14
25
36
14
25
47
52
25
14
{36, 14, 47, 52, 25}

5.write a python program to create a new set with all the elements from two sets, but exclude the common ones.

In [17]:
set1 = {1,2,3,6}
set2 = {3,4,5,2}
newset = set1.union(set2)
print(newset)

{1, 2, 3, 4, 5, 6}

6.write a python program to check if a set is a subset of another set.

In [21]:
set1 = {1,2,3,}
set2 = {3,4,1,5,2}
x =set1.issubset(set2)
print("set1 is a subset of set2:",x)

set1 is a subset of set2: True

7.write a python program to find the maximum and minimum values in a set.

In [2]:
myset = {15,42,14,63,78,56,12,21,35}
maxim = max(myset)
minim = min(myset)
print(maxim)
print(minim)

78
12

8. write a python program to remove all the elements from a set.

In [12]:
myset = {15,42,14,63,78,56,12,21,35}
myset.clear()
print(myset)

set()

9.write a python program to update a set with the union of itself and another set.

In [8]:
set1 = {15,42,14,63,78,56,12,21,35}
set2 = {24,41,57,98}
set1.update(set2)
print(set1)

{98, 35, 41, 42, 12, 78, 14, 15, 21, 56, 24, 57, 63}

10. write a python program to find the sum of all the elements in a set.

In [11]:
myset = {15,42,14,63,78,56,12,21,35}
sum_ = sum(myset)
print(sum_)

336